<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571712219416-jvsju48tpeeo8lcgbvq4iluo946tid61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571712219416-jvsju48tpeeo8lcgbvq4iluo946tid61</string>
	<key>API_KEY</key>
	<string>AIzaSyDn1HM19XEihQ6kvDbGuYorVKXtM28Umcc</string>
	<key>GCM_SENDER_ID</key>
	<string>571712219416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appbankdarm</string>
	<key>PROJECT_ID</key>
	<string>appbank-darm</string>
	<key>STORAGE_BUCKET</key>
	<string>appbank-darm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571712219416:ios:2d162920da2b8e2492566d</string>
	<key>DATABASE_URL</key>
	<string>https://appbank-darm-default-rtdb.firebaseio.com</string>
</dict>
</plist>